%h1 Listing tasks

%table.ui.table
  %tr
    %th Name
    %th is completed
    %th Team
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td= task.name
      %td= task.is_completed
      %td
        = link_to task.team.name, edit_admin_team_path(task.team) unless task.team.blank?
      %td= link_to 'Edit', edit_admin_task_path(task)

      %td= link_to 'Destroy', admin_task_path(task), :method => :delete, :data => { :confirm => 'Are you sure?' } if task.destroyable?

%br

= link_to 'New Task', new_admin_task_path
